.center-image{
  margin: 0 auto;
  padding-top:1em;
}

.image-footer{
  text-align: center;
  font-weight: bold;
}

.example-image{
  width: 70%;
}

.github-style{
  margin-left:10px;
  width:42px;
  height:42px;
}

.other-image{
  width: 60%;
}

.panel-body{
  background-color: #7d7c7c;
}

code{
  background-color: #7d7c7c;
  color : #e2ff14;
}
