.center-image{
  margin: 0 auto;
  padding-top:1em;
}

.image-footer{
  text-align: center;
  font-weight: bold;
}

.example-image{
  width: 70%;
  padding-bottom: 1em;
}

.github-style{
  margin-left:10px;
  width:42px;
  height:42px;
}

.other-image{
  width: 60%;
  padding-bottom: 1em;
}

.little-image{
  width: 30%;
  padding-bottom: 1em;
}

code{
  background-color: #ffffff;
}

.important{
  font-weight: bold;
}
